[Unit]
Description=Technitium DNS Client

[Service]
WorkingDirectory=/opt/technitium/dnsclient
ExecStart=/usr/bin/dotnet /opt/technitium/dnsclient/DnsClientApp.dll --urls "http://[::]:8001/"
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=dotnet-dnsclient
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target
